/* Navigation  */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    padding: 0px 7px;
    font-size: 1.1rem;
}

/* home section  */
#home{
    flex-direction: column;
    height: 392px;
    padding: 3px 51px;
}
#home::before{
    height: 522px;
}
#home p{
    font-size: 13px;
}
/* Services section  */
#services{
    flex-direction: column;
    margin: 3px;
}
#services .box{
    padding: 8px;
    margin: 6px 16px;
}

/* Client section  */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 132px;
    padding: 2px 6px;
    height: auto;
}


/* contact us section  */
#contact-box form{
    width: 80%;
}


/* footer */

/* Utility classes */
.h-primary{
    font-size: 26px;
}
